<md-content layout-padding>
  <h1>Agents <md-button ng-click="$ctrl.refresh()">Refresh</md-button></h1>
  <div>
    <md-table-container>
      <table md-table>
        <tbody md-body>
          <thead md-head>
            <tr md-row>
              <th md-column>
                number
              </th>
              <th md-column>
                label
              </th>
              <th md-column>
                ops/sec
              </th>
            </tr>
          </thead>
          <tr md-row ng-repeat="agent in $ctrl.collection.agents | orderBy:'meta.label'">
            <td md-cell>
              {{$index + 1}}
            </td>
            <td md-cell>
              {{agent.meta.label}}
            </td>
            <!-- <td md-cell>
              <md-slider-container>
                <md-slider flex min="0" max="200" ng-model="agent.meta.eventsPerSec"
                  aria-label="red" id="red-slider" ng-change="$ctrl.eventChanged(agent)">
                </md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="agent.meta.eventsPerSec"
                    aria-label="red" aria-controls="red-slider" ng-change="$ctrl.eventChanged(agent)">
                </md-input-container>
              </md-slider-container>
            </td> -->
            <td md-cell>
              <md-input-container>
                <input flex type="number" ng-model="agent.meta.eventsPerSec"
                  aria-label="red" aria-controls="red-slider" ng-change="$ctrl.eventChanged(agent)">
              </md-input-container>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</md-content>
